body {
  background-color: rgb(248, 212, 11);
  text-align: center;
}

h1 {
  font-size: 50px;
}

p {
  font-size: 25px;
}

.container {
  background-color: white;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 25px;
  margin: auto;
  padding: 25px;
  width: 600px;
}

img {
  border: black solid 3px;
  height: 100%;
  width: 100%;
  cursor: pointer;
}
