body {
  background-color: black;
  text-align: center;
}

h1 {
  color: white;
  font-size: 75px;
  margin: 15px;
}

.indexContainer {
  width: 800px;
  height: auto;
  margin: auto;
}

img {
  height: auto;
}

#gate {
  width: 100%;
  border: orange solid 10px;
}

a {
  text-decoration: none;
  font-size: 50px;
  color: orange;
}

p {
  color: white; 
  font-size: 50px;
  margin: 15px;
}

#run {
  width: 500px;
}

#house {
  width: 900px;
}

#window {
  width: 700px;
}

#livingRoom {
  width: 900px;
}